<h2>Banking Summary</h2>

<h3>Most Recent Month: <%= "#{@most_recent_month}/#{@current_year}" %></h3>

<table class="table table-striped">
	<thead>
		<tr>
			<th>Person</th>
			<th>Agreed Contribution</th>
			<th>Paid</th>
			<th>Owe</th>
			<th>Balance</th>
		</tr>
	</thead>
	<tbody>
	  <% @user_ids.each do |id| %>
			<tr>
				<td><%= @display[id][:name] %></td>
				<td><%= @display[id][:agreed_contribution] %></td>
				<td><%= @display[id][:paid] %></td>
				<td><%= @display[id][:owe] %></td>
				<td></td>
			</tr>
		<% end %>
	</tbody>
</table>